<div>
    <p class="title">{{ isLogin ? 'Login' : 'Sign Up' }}</p>
    <form [formGroup]="SignInForm" (ngSubmit)="Submit()">
        <input *ngIf="!isLogin" type="text" placeholder="Name" formControlName="name">
        
        <br>
        <input type="email" placeholder="Email" formControlName="email">
        <br>
        <input type="password" placeholder="Password" formControlName="password">
        <br>
        <select *ngIf="!isLogin" formControlName="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <br>
        <button mat-raised-button class="turquoise-btn" type="submit">
            {{ isLogin ? 'Login' : 'Sign Up' }}
        </button>
    </form>
    <button mat-raised-button class="turquoise-btn" (click)="isLogin = !isLogin">
        Switch to {{ isLogin ? 'Sign Up' : 'Login' }}
    </button>
</div>
