 <!-- <h3>login and sign!!!!</h3>
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <label for="name">name:</label>
    <input id="name" type="text" placeholder="name" formControlName="name">
    @if(f['name'].touched && f['name'].hasError('required')){
    <small>name is requrid</small>
    }
    <br>
    <label for="email">email:</label>
    <input id="email" type="text" placeholder="email" formControlName="email">
    @if(f['email'].touched && f['email'].hasError('required')){
    <small>email is requrid</small>
    }
    <br>
    <label for="password"> password:</label>
    <input id="password" type="text" placeholder="password" formControlName="password">
    @if(f['password'].touched && f['password'].hasError('required')){
    <small>password is requrid</small>
    }
    @if(f['password'].touched && f['password'].hasError('minlength')){
    <small>password must be 1 min characters</small>
    }
    <br>
    <label for="role">role:</label>
    <input id="role" type="text" placeholder="role" formControlName="role">

    @if(f['role'].touched && f['role'].hasError('required')){
    <small>role is requrid</small>
    }
    <br>
    <button type="submit">{{ isRegisterMode ? 'הירשם' : 'התחבר' }}</button>
</form>
 @if(showMenu){
<app-menu ></app-menu> 
}
<app-menu *ngIf="showMenu"></app-menu>  -->
 

<!-- 
<div>
    <p class="title">{{ isLogin ? 'Login' : 'Sign Up' }}</p>
    <form [formGroup]="SignInForm" (ngSubmit)="Submit()">
        <input *ngIf="!isLogin" type="text" placeholder="Name" formControlName="name">
        <br>
        <input type="email" placeholder="Email" formControlName="email">
        <br>
        <input type="password" placeholder="Password" formControlName="password">
        <br>
        <select *ngIf="!isLogin" formControlName="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <br>
        <button type="submit">{{ isLogin ? 'Login' : 'Sign Up' }}</button>
    </form>
    <button (click)="isLogin = !isLogin">Switch to {{ isLogin ? 'Sign Up' : 'Login' }}</button>
</div> -->

<div>
    <p class="title">{{ isLogin ? 'Login' : 'Sign Up' }}</p>
    <form [formGroup]="SignInForm" (ngSubmit)="Submit()">
        <input *ngIf="!isLogin" type="text" placeholder="Name" formControlName="name">
        
        <br>
        <input type="email" placeholder="Email" formControlName="email">
        <br>
        <input type="password" placeholder="Password" formControlName="password">
        <br>
        <select *ngIf="!isLogin" formControlName="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <br>
        <button mat-raised-button class="turquoise-btn" type="submit">
            {{ isLogin ? 'Login' : 'Sign Up' }}
        </button>
    </form>
    <button mat-raised-button class="turquoise-btn" (click)="isLogin = !isLogin">
        Switch to {{ isLogin ? 'Sign Up' : 'Login' }}
    </button>
</div>
